@model WebsiteBanHang.Context.Product_2119110250

@{
    ViewBag.Title = "Xoá Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xoá Sản phẩm</h2>

<h3>Bạn có chắc chắn muốn xoá Sản phẩm này không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Name)*@
            <label class="control-label col">Tên Sản phẩm</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Avatar)*@
            <label class="control-label col">Hình ảnh</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CategoryId)*@
            <label class="control-label col">Danh mục</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.BrandId)*@
            <label class="control-label col">Thương hiệu</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandId)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ShoetDes)*@
            <label class="control-label col">Mô tả</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShoetDes)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.FullDescription)*@
            <label class="control-label col">Chi tiết</label>
        </dt>

        <dd>
            @Html.Raw(Model.FullDescription)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Price)*@
            <label class="control-label col">Giá</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.PriceDiscount)*@
            <label class="control-label col">Giá khuyến mãi</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceDiscount)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.TypeId)*@
            <label class="control-label col">Kiểu dữ liệu</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Deleted)*@
            <label class="control-label col">Xoá</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.ShowOnHomePage)*@
            <label class="control-label col">Xuất hiện trên Trang chủ</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowOnHomePage)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.DisPlayOrder)*@
            <label class="control-label col">Thứ tự xuất hiện</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisPlayOrder)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CreatedOnUtc)*@
            <label class="control-label col">Ngày Tạo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.UpdatedOnUtc)*@
            <label class="control-label col">Ngày Cập nhật</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOnUtc)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete","Product",FormMethod.Post,new {enctype = "multipart/form-data" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
